<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos Culturales</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Caveat:wght@400;700&family=Young+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Caveat:wght@400;700&family=Quicksand:wght@300..700&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>
<body>
    <!-- Encabezado -->
    <header id="header">
        <div id="menu">
            <div id="logo" class="logo">
                <a href="../index.html" target="_self"> 
                <img src="../static/img/logo_cultura_2.png" id="logo_cultura" alt="Logo" class="logo-img">
                </a>
            </div>           
            <div id="search-navigation" class="search-navigation">
                <div class="search-navigation-inner">
                    <nav>
                        <ul class="menu">
                            <li><a href="../index.html">Inicio</a></li>
                            <li><a href="./news.html">Últimas Noticias</a></li>
                            <li><a href="./eventos.html">Eventos Culturales</a></li>                            
                            <li><a href="./contactanos.html">Contactanos</a></li>
                            <li id="search-header" class="search-header">
                                <div class="search-container">
                                    <input type="text" id="searchInput" placeholder="Buscar...">
                                    <button onclick="searchFiles()" class="search-button">
                                        <img src="../static/img/lupa.ico" alt="Buscar" class="search-icon">
                                    </button>
                                </div>
                                <div id="searchResults"></div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="bar">
            <img src="../static/img/barra_down.png" alt="barra">
        </div>
        <div class="newsTitle">
            <h1>Eventos Culturales</h1>
        </div>
    </header>
    <main>
    <!-- botones circulares para seleccionar/cambiar de imagen-->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
    </div>
    <!-- Carrusel -->
    <div class="slideshow-container">

        <div class="imagen-slider fade">
        <div class="numbertext">1 / 6</div>
        <img src="../static/img/interperies7.png" alt="Titeres de Interperies" >
        <div class="event-title">Intemperies, transformar para liberar</div>
        <div class="fecha-lugar">Domingo 07 de Abril 20:30 hs - Casa de la Cultura - Entrada General: $3.000</div>
        <div class="info-text">Intemperies, transformar para liberar, es una obra de teatro de títeres y objetos para jóvenes y adultos, donde 4 actrices con máscaras arquetípicas, en un ritual, van transformando diferentes intemperies sociales que nos atraviesan. Obra de creación colectiva con la dirección del titiritero, dramaturgo y escritor Andrés López.
        </div>
        </div>
    
        <div class="imagen-slider fade">
        <div class="numbertext">2 / 6</div>
        <img src="../static/img/stand_up3.png" alt="Stand up. Elena en el escenario" >
        <div class="event-title">"Ya No Se Puede decir Todo" Elena Sánchez. Stand Up</div>
        <div class="fecha-lugar">Sábado 20 de Abril 21:00 hs - Casa de la Cultura - Entrada a la gorra</div>
        <div class="info-text">"Ya No Se Puede Decir Todo". En un mundo donde la sensibilidad y las normas socialesestán en constante evolución, Elena ofrece una perspectiva única y humorística sobre cómo nos relacionamos con el lenguaje,  las expectativas y nuestras propias creencias. Este espectáculo es una invitación a reírnos de nuestras contradicciones y a cuestionar nuestras suposiciones, todo ello presentado con el estilo distintivo y la energía contagiosa de Elena Sánchez.</div>
        </div>
    
        <div class="imagen-slider fade">
        <div class="numbertext">3 / 6</div>
        <img src="../static/img/si_pero_no.png" alt=" Stand up de Alejandro Fernández">
        <div class="event-title">"Sí pero No" Stand up de Alejandro Fernández</div>
        <div class="fecha-lugar">Domingo 28 de Abril 21:00 hs - Casa de la Cultura - Entrada General: $5.000</div>
        <div class="info-text">En 'Sí pero No', Alejandro nos lleva en un viaje de risas y reflexión mientras explora las contradicciones y paradojas de la vida cotidiana. Desde las situaciones más absurdas hasta las observaciones más agudas sobre la naturaleza humana, Alejandro nos desafía a cuestionar nuestras suposiciones y a reírnos de nuestras propias contradicciones..</div>
        </div>

        <div class="imagen-slider fade">
        <div class="numbertext">4 / 6</div>
        <img src="../static/img/raices1.png" alt="portada raices" >
        <div class="event-title">RAÍCES Documental de Ana García</div>
        <div class="fecha-lugar">Sábado 15 de mayo 21:00 hs - - El Laberinto Centro Cultural - Entrada libre y gratuita</div>
        <div class="info-text">La proyección, con entrada libre y gratuita, contará con la presencia de la directora.
        Luego de recorrer durante 3 años los pueblos originarios de América Latina, Ana plasmó en un documental su experiencia. Atravesando paisajes majestuosos y comunidades vibrantes, la cineasta se sumergió en las tradiciones ancestrales, explorando la cosmovisión y los saberes que aún palpitan en el corazón de la cultura indígena.
        "RAÍCES" es una invitación a un viaje introspectivo, un canto a la diversidad y un homenaje a la memoria viva de nuestros ancestros.</div>
        </div>
    
        <div class="imagen-slider fade">
        <div class="numbertext">5 / 6</div>
        <img src="../static/img/trio3.png" alt="Caricatura trio armonia" >
        <div class="event-title">TRÍO ARMONÍA: Un viaje musical por la Argentina</div>
        <div class="fecha-lugar">Sábado 20 de Mayo 21:00 hs - El Laberinto Centro Cultural - Entrada General: $5.000</div>
        <div class="info-text">Trío Armonía presenta un repertorio que recorre diferentes estilos de la música argentina, desde el tango y el folklore hasta la música popular contemporánea. Sus integrantes, jóvenes guitarristas de reconocida trayectoria, se unen para crear un sonido único que combina tradición e innovación.
            <p>Integrantes:</p>
                <ul>
                    <li>Mariana Pérez (guitarra)</li>
                    <li>Santiago López (guitarra)</li>
                    <li>Nicolás Fernández (guitarra)</li>
                </ul>
            </div>
        </div>

        <div class="imagen-slider fade">
        <div class="numbertext">6 / 6</div>
        <img src="../static/img/musicas1.png" alt="Encuentro musical" >
        <div class="event-title">ENCUENTRO DE MÚSICAS: Voces del Sur. Un viaje musical entre culturas.</div>
        <div class="fecha-lugar">Sábado 27 de Mayo 21:30hs - El Laberinto Centro Cultural - Entrada a la gorra</div>
        <div class="info-text">Dos artistas de diferentes latitudes se unen para compartir su música y crear un espacio de encuentro cultural. Camila Fernández, cantante y guitarrista argentina, presenta un repertorio de canciones folclóricas y contemporáneas de su país. Pedro Oliveira, músico portugués, trae consigo la riqueza musical de su tierra natal, con fados y canciones tradicionales..
            <p>Integrantes:</p>
            <ul>
                <li>Camila Fernández (voz y guitarra)</li>
                <li>Pedro Oliveira (voz y guitarra)</li>
            </ul></div>
        </div>
    
        <!-- Botones hacia adelante y atras -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    </main>
    <footer id="footer">
        <div class="bar">
            <img src="../static/img/barr_up.png" alt="barra">
        </div>
        <div class="menu-footer">
            <nav>
                <ul class="menu-footer">
                    <li><a href="./quienes_somos.html">Quienes somos</a></li>
                    <li><a href="./preguntas_frecuentes.html">Preguntas frecuentes</a></li>
                    <li><a href="./contactanos.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>