:root {
    --bg-color:#ffffff;
    --primary-color:#030303;
    --secondary-color:#ff914d;
    --third-color:#aaaaaa;
    --fourth-color:#C3B445;
    --fifth-color:#333;


}

*{
    margin:0;
    padding:0;
  }
  
body{
    background-color: var(--bg-color);
    margin-left: 2.60vw;
    margin-right: 2.60vw;
    font-family: "Quicksand", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
.menu {
    text-align: center;
    display: flex;
    flex-direction:row;
    align-items:center;
    font-size: 1.5vw;
    justify-content: space-between;
    padding:  0.52vw;
  }
ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
ul.menu li {
    display: inline-block;
  }
ul.menu li a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    padding: 0.52vw 1.04vw;
    transition: color 0.3s;
  }
ul.menu li a:hover {
    color: var(--secondary-color);
  }
  
.search-container {
    margin-top: 1.04vw;
    display: flex;
    align-items: center;
}

#searchInput {
    height: 2.08vw;
    width: 15.63vw;
    flex: 1;
    border: 1px solid #ccc;
    margin-right: 0.26vw;
}

.search-header button {
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.fass {
    width: 2.08vw;
    height: 2.08vw;
}

/*Ultimas Noticias*/
.newsTitle{
    font-family: "Young Serif", serif;
    font-size: 3.5vw;
    letter-spacing: 4px;
    text-align: center;
    color:var(--secondary-color)
}
.bar{
    width: 100%;
  }
.bar img {
    height: auto;
    width: 100%;
  }
.slide {
    position: relative;
    margin-top: 0.52vw;
    margin-right: 2.60vw;
    margin-left: 2.60vw;
    height: 20.84vw;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.slide-open:checked + .slide-item {
    position: absolute;
    opacity: 1;
}
.slide-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide-control {
    border-radius: 50%;
    color: var(--primary-color);
    cursor: pointer;
    display: none;
    font-size: 2rem;
    height: 2.08vw;
    line-height: 2.08vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 2.08vw;
    z-index: 10;
}
.slide-control.prevNews {
    left: 20px;
}
.slide-control.nextNews {
    right: 20px;
}
.slide-control:hover {
    background: var(--secondary-color);
    color: var(--third-color);
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 0.26vw;
}
.slide-circulo {
    color: var(--fifth-color);
    cursor: pointer;
    font-size: 1rem;
}
.slide-circulo:hover {
    color: var(--third-color);
}
#slide-1:checked ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca;
}
.slide:hover .slide-control {
    display: block;
}
.slide-open:checked + .slide-item {
    position: absolute;
    opacity: 1;
}
.slide-control {
    display: none;
}
.slide-open:checked + .slide-item {
    opacity: 1;
}
.tarjeta {
    display: flex;
    justify-content: center;
  }
.card {
    width: 25%;
    margin: 1.04vw;
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 10px 0 20px rgb(88, 86, 94);
    overflow: hidden;
  }
.card img {
    width: 100%;
    height:100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
.card .content {
    padding: 20px;
  }
.card a{
    text-decoration: none;
  }
.card h3 {
    font-family: "Quicksand", sans-serif;
    margin-top: 0;
    text-align: center;
    letter-spacing: 4px;
    color: var(--bg-color);
    font-weight: lighter;
  }
.card h2 {
    font-family: "Quicksand", sans-serif;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: lighter;
  }
.title {
    object-position: center;
    margin: 0 0 0 10rem;
  }
.title h1 {
    font-family: "Young Serif", serif;
    font-size: 4.861vw;
    letter-spacing: 4px;
    text-align: center;
  }
.note_title {
    object-position: center;
    width: 100%;
    margin: 1.5rem 0 0 1rem;
    color: var(--primary-color);
  }
.note_title h2 {
    font-family: "Quicksand", sans-serif;
    text-decoration: underline;
    margin-bottom: 1.5rem;
  }
.table{
    margin: 0 5rem 0 5rem;
  }
tr {
    width: 50%;
  }
.card1 {
    width: 80%;
    background-color: var(--bg-color);
    border: 5px solid #ff914d;
    border-radius: 0;
    margin: 0 3rem 0 3rem;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 3pt;
    padding: 1rem;
  }
.card1 h4,
.card1 p {
    display: inline-block;
    margin: 0;
    line-height: 2;
  }
.card2{
    width: 75%;
    background-color: var(--secondary-color);
    margin: 3rem 0 0 0;
    justify-content: end;
    margin-left: 6rem;
  }
.card2 img{
    margin-left: -10rem;
    top: 0;
    bottom: 0;
  }
.note_tex{
    font-family: "Quicksand", sans-serif;
    font-size: 0.833vw;
    text-align: justify;
    margin-top: -5rem;
    color: var(--primary-color);
  }
.logo img {
    display: block;
    margin: 0 auto;
    width: 15%;
    height: auto;
}
.iconRedes {
  color: var(--secondary-color);
  font-size: 3rem;
}
.detail{
  padding-left: 3rem;
}
.noticias2 {
  position: relative;
}
.note_text2{
  width: 50%;
}
.note_text2 p {
  text-align: justify;
}
.img2 {
  width: auto;
  height: 30%;
  object-position: center;
  padding-left: 18rem;
}
.iconRedes {
  color: var(--secondary-color);
  margin-right: 0.52vw;
}
.list {
  padding:0 5rem 0 5rem;
  text-align: justify;
}
.list ul {
  font-weight: bold;
}
.agradecimiento p{
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
}
.noticia3 img{
  width: 100%;
  height: auto;
  padding: 3rem 1rem 0 0;
}

@media  (max-width:768px) {
    .menu {
        font-size: 4vw;
        display:flex;
        flex-direction: column;
      }
    ul.menu li a {
      align-items: center;
      justify-content: center;
      padding: 0.52vw;
    }
    .search-container {
        margin-top: 2vw;
    }
    #searchInput {
        height: 4vw;
        width: 40vw;
        margin-right: 1vw;
    }
    .search-header button {
        height: 4vw;
    }
    .tarjeta{
      display:flex;
      flex-direction: column;
    }
    .tarjeta .card {
      width: 100%;
    }
    .note_title,
    .detail,
    .card1,
    .card2,
    .note_tex {
        width: 100%;
    }
    .card2 img {
        max-width: 100%;
        height: auto;
    }
    table {
      margin: 0;
    }
    table th,
    table td {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      text-align: justify;
      font-size: 4vw;
    }
}
/*Eventos*/

#eventos-culturales {
  text-align: center;
  margin: 20px 0; 
}

#eventos-culturales h1 {
  font-size: 24px; 
  font-weight: bold;
  color: #ff914d;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  height: 800px;
  position: relative;
  margin: auto;
  flex-grow: 1;
}

.imagen-slider {
  display: none;
}
.imagen-slider:first-child {
  display: block; /* Muestra la primera imagen por defecto */
}

.imagen-slider img {
  width: 75%; 
  max-width: 800px;
  height: auto; 
  display: block; 
  margin: 0 auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #C3B445;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color:  #ff914d;
}

.event-title {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  bottom: 0px;
  width: 80%;
  text-align: center;
  background-color: rgba(255, 145, 77, 0.8);
  left: 50%; 
  transform: translateX(-50%);
  font-weight: bold;
}
.fecha-lugar {
  font-size: 18px; 
  color: #333;
  padding: 8px 12px; 
  text-align: center;
  position: absolute; 
  margin-top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  white-space: nowrap;
}

.info-text {
  font-size: 16px; 
  color: #333; 
  padding: 8px 12px;
  text-align: center;
  position: absolute; 
  margin-top: 30px;
}

.info-text ul {
  list-style-type: none; /* Elimina los bullets */
  margin: 0; 
  padding: 0;
}

.info-text p {
  font-weight: bold;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 50%; 
  transform: translateX(-50%);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 20px;
}

.active, .dot:hover {
  background-color: #ff914d;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

footer {
  margin-top: auto; /* Empuja el pie de página hacia abajo */
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Contacto */

/*  elementos de entrada de texto, select y areas de texto */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-family: "Quicksand", sans-serif;
}

/* etiqueta*/
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* el boton de envio */
input[type=submit] {
  background-color: #FFBD59;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

/* efecto de hover */
input[type="submit"]:hover {
  background-color: #88A843; /* Cambia el color de fondo en hover */
  color: #f1f1f1; /* Cambia el color del texto en hover */
}

.button-container {
  display: flex;
  justify-content: center;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Columna flotante para etiquetas: ancho del 25% */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Columna flotante para entradas: ancho del 75%  */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Limpiar despues de las columnas */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Diseño responsivo */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
