:root {
  --bg-color:#ffffff;
  --primary-color:#030303;
  --secondary-color:#ff914d;
  --third-color:#aaaaaa;
  --fourth-color:#C3B445;
  --fifth-color:#333;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  }
  
body{
  background-color: var(--bg-color);
  margin-left: 2.60vw;
  margin-right: 2.60vw;
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  }

header {
  width: 100%;
}

footer {
  width: 100%;
}
.logo img {
  display: block;
  margin: 0 auto;
  width: 15%;
  height: auto;
}  
.menu {
  text-align: center;
  display: flex;
  flex-direction:row;
  align-items:center;
  font-size: 1.3vw;
  justify-content: space-between;
  padding:  0.52vw;
  text-decoration: none;
  }
ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  }
ul.menu li {
  display: inline-block;
  }
ul.menu li a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  padding: 0.52vw 1.04vw;
  transition: color 0.3s;
  }
ul.menu li a:hover {
  color: var(--secondary-color);
  }
.menu-footer {
  text-align: right;
  font-size: 1vw;
  padding: 0.52vw;
  font-size: 1vw;
  justify-content: space-between;
  padding:  0.52vw;
  text-decoration: none;
  }
ul.menu-footer {
  list-style: none;
  margin: 0;
  padding: 0;
  }
ul.menu-footer li {
  display: inline-block;
  }
ul.menu-footer li a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  padding: 0.52vw 1.04vw;
  transition: color 0.3s;
  }
ul.menu-footer li a:hover {
  color: var(--secondary-color);
  }

.search-container {
  margin-top: 1.04vw;
  display: flex;
  align-items: center;
}

#searchInput {
    height: 2.08vw;
    width: 15.63vw;
    flex: 1;
    border: 1px solid #ccc;
    margin-right: 0.26vw;
}

.search-header button {
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


/*Ultimas Noticias*/
.newsTitle{
    font-family: "Young Serif", serif;
    font-size: 3.5 vw;
    letter-spacing: 4px;
    text-align: center;
    color:var(--secondary-color)
}
.bar{
  width: 100%;
}
.bar img {
  height: auto;
  width: 100%;
}
.slide {
  position: relative;
  margin-top: 0.52vw;
  height: 30vw;
  width: 100%;
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide-open:checked + .slide-item {
  position: absolute;
  opacity: 1;
}

.slide-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.slide-item img {
  width:inherit;
  height:inherit;
  object-fit:cover;
  -o-object-fit:cover;
}

.slide-control {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--fourth-color);
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.nextNews {
  left: 97%;
}

.prevNews:hover, .nextNews:hover  {
  background-color:  var(--secondary-color);
}

.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slide-indicador li {
  display: inline-block;
  margin: 0 0.26vw;
}

.slide-circulo {
  color: var(--fifth-color);
  cursor: pointer;
  font-size: 1rem;
}

.slide-circulo:hover {
  color: var(--third-color);
}

#slide-1:checked ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .slide-indicador li:nth-child(3) .slide-circulo {
  color: #428bca;
}

.slide:hover .slide-control {
  display: block;
}

@keyframes slide {
  0%, 20% { opacity: 0; }
  25%, 75% { opacity: 1; }
  80%, 100% { opacity: 0; }
}

.slide-item:nth-of-type(1) {
  animation: slide 12s infinite;
}

.slide-item:nth-of-type(2) {
  animation: slide 12s infinite 4s;
}

.slide-item:nth-of-type(3) {
  animation: slide 12s infinite 8s;
}
.tarjeta {
    display: flex;
    justify-content: center;
  }
.card {
    width: 25%;
    margin: 1.04vw;
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 10px 0 20px rgb(88, 86, 94);
    overflow: hidden;
    transition: transform 0.3s;
  }
  .card:hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
    height:100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
.card .content {
    padding: 20px;
  }
.card a{
    text-decoration: none;
  }
.card h3 {
    font-family: "Quicksand", sans-serif;
    margin-top: 0;
    text-align: center;
    letter-spacing: 4px;
    color: var(--bg-color);
    font-weight: lighter;
  }
.card h2 {
    font-family: "Quicksand", sans-serif;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: lighter;
  }
.title {
    object-position: center;
    margin: 0 0 0 5rem;
  }
.title h1 {
    font-family: "Young Serif", serif;
    font-size: 4.861vw;
    letter-spacing: 4px;
    text-align: center;
  }
.note_title {
    object-position: center;
    width: 100%;
    margin: 1.5rem 0 0 1rem;
    color: var(--primary-color);
  }
.note_title h2 {
    font-family: "Quicksand", sans-serif;
    text-decoration: underline;
    margin-bottom: 1.5rem;
  }

/*articulos*/
.detail {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    padding-left: 3rem;
}
.card1,
.card2 {
  grid-column: span 6;
  grid-row: span 2;
}
.card1 {
  background-color: var(--bg-color);
  border: 5px solid #ff914d;
  border-radius: 0;
  margin: 2rem 3rem 0 3rem;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 3pt;
  padding: 1rem;
  }
.card1 h4,
.card1 p {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: inline-block;
    margin: 0;
    line-height: 2;
  }
.card2{
  width: 75%;
  background-color: var(--secondary-color);
  justify-content: end;
  margin-left: 6rem;
  }
.card2 img{
    margin-left: -10rem;
    height:100%;
    width: fit-content;
    top: 0;
    bottom: 0;
  }
  .card3{
    justify-content:center;
    grid-column: span 6;
    grid-row: span 2;
    }
  .imgN3 { 
    width: 100%;
    height: auto;
  }

.note_tex {
  grid-column: span 6;
  grid-row: span 6;
  margin-top: 3rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2vw;
  text-align: justify;
  color: var(--primary-color);
  line-height: 2;
  }
.note_tex2 {
  grid-column: span 6;
  grid-row: span 6;
  font-family: "Quicksand", sans-serif;
  font-size: 0.9vw;
  text-align: justify;
  color: var(--primary-color);
  line-height: 2;
  }

.list {
  padding:0 4rem 0 4rem;
  text-align: justify;
}
.list ul {
  font-weight: bold;
}
.agradecimiento p{
  font-weight: bold;
  text-align: center;
  padding-bottom: 5rem;
  font-size: 1.5vw;
}
.navegacion {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.anterior, .siguiente {
  flex: 1;
  text-align: center;
}
.anterior a, .siguiente a {
  display: inline-block;
  font-size: 1.5vw;
  text-decoration: none;
  color: var(--fourth-color);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.anterior a:hover, .siguiente a:hover {
  background-color: var(--secondary-color);
}
.share-buttons {
  display: flex;
  justify-content: space-around;
  margin-left: 3rem;
}

.share-button {
  display: inline-block;
  text-decoration: none;
  padding-right: 2rem;
  transition: background-color 0.3s ease;
}
.share-button img {
  width: 25px;
}

.share-button:hover {
  opacity: 0.8;
}

@media  (max-width:768px) {
  .menu {
    font-size: 4vw;
    display:flex;
    flex-direction: column;
  }

ul.menu li a {
  align-items: center;
  justify-content: center;
  padding: 0.52vw;
}
.search-container {
    margin-top: 2vw;
}
#searchInput {
    height: 4vw;
    width: 40vw;
    margin-right: 1vw;
}
.search-header button {
    height: 4vw;
}
.tarjeta{
  display:flex;
  flex-direction: column;
}
.tarjeta .card {
  width: 100%;
}
.title {
  margin: 0;
}
.note_title,
.detail,
.card1,
.card2,
.note_tex {
    width: 100%;
}
.card2 img {
    max-width: 100%;
    height: auto;
}
.detail {
  grid-template-columns: 1fr;
  grid-row: auto;
  margin: 0;
  padding: 0;
}
.card1{
  margin: 0;
}
.note_tex p {
  font-size: 3vw;
  text-align: center;
}
.note_tex2 {
  font-size: 3vw;
  }
.card2{
  margin-left: 0;
  }
.card2 img{
    margin-left: -4rem;
  }
  .agradecimiento p{
    font-size: 3vw;
  }
}
@media  (max-width:768px) {
  .menu {
    font-size: 4vw;
    display:flex;
    flex-direction: column;
  }
ul.menu li a {
  align-items: center;
  justify-content: center;
  padding: 0.52vw;
}
.search-container {
    margin-top: 2vw;
}
#searchInput {
    height: 4vw;
    width: 40vw;
    margin-right: 1vw;
}
.search-header button {
    height: 4vw;
}
.tarjeta{
  display:flex;
  flex-direction: column;
}
.tarjeta .card {
  width: 100%;
}
.title {
  margin: 0;
}
.note_title,
.detail,
.card1,
.card2,
.note_tex {
    width: 100%;
}
.card2 img {
    max-width: 100%;
    height: auto;
}
.detail {
  grid-template-columns: 1fr;
  grid-row: auto;
  margin: 0;
  padding: 0;
}
.card1{
  margin: 0;
}
.note_tex p {
  font-size: 3vw;
  text-align: center;
}
.note_tex2 {
  font-size: 3vw;
  }
.card2{
  margin-left: 0;
  }
.card2 img{
    margin-left: -4rem;
  }
  .agradecimiento p{
    font-size: 3vw;
  }
}
/*sobre nosotros*/
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-image {
  width: 100%;
  text-align: center;
}

.about-image img {
  width: 100%;
  height: auto;
  max-width: 800px;
}

.about-text {
  text-align: center;
  padding: 20px;
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.about-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.about-text p {
  font-size: 18px;
  line-height: 1.6;
}

/*faqs*/
.faqs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqs-image {
  width: 100%;
  text-align: center;
}

.faqs-image img {
  width: 100%;
  height: auto;
  max-width: 800px;
}

.faqs-container {
  text-align: center;
  padding: 20px;
}

.faqs-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item  h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.faq-item  p {
  font-size: 18px;
  line-height: 1.6;
}

/*Eventos*/

#eventos-culturales {
  text-align: center;
  margin: 20px 0; 
}

#eventos-culturales h1 {
  font-size: 24px; 
  font-weight: bold;
  color: #ff914d;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  height: 1000px;
  position: relative;
  margin: auto;
  flex-grow: 1;
}

.imagen-slider {
  display: none;
}
.imagen-slider:first-child {
  display: block;
}

.imagen-slider img {
  width: 75%; 
  max-width: 800px;
  height: auto; 
  display: block; 
  margin: 0 auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #C3B445;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color:  #ff914d;
}

.event-title {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  bottom: 0px;
  width: 80%;
  text-align: center;
  background-color: rgba(255, 145, 77, 0.8);
  left: 50%; 
  transform: translateX(-50%);
  font-weight: bold;
}
.fecha-lugar {
  font-size: 18px; 
  color: #333;
  padding: 8px 12px; 
  text-align: center;
  position: absolute; 
  margin-top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  white-space: nowrap;
}

.info-text {
  font-size: 16px; 
  color: #333; 
  padding: 8px 12px;
  text-align: center;
  position: absolute; 
  margin-top: 30px;
}

.info-text ul {
  list-style-type: none;  
  margin: 0; 
  padding: 0;
}

.info-text p {
  font-weight: bold;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 50%; 
  transform: translateX(-50%);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 20px;
}

.active, .dot:hover {
  background-color: #ff914d;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

footer {
  margin-top: auto;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-column {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 10px;
}

.contact-column img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contact-column p {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Contacto - Formulario */
.container {
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.row {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

/* Columna flotante para etiquetas: ancho del 25% */
.columna-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  box-sizing: border-box;
}

/* Columna flotante para entradas: ancho del 75%  */
.columna-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  box-sizing: border-box;
}


/* Limpiar despues de las columnas */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*  elementos de entrada de texto, select y areas de texto */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-family: "Quicksand", sans-serif;
}

/* etiqueta*/
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* el boton de envio */
input[type=submit] {
  background-color: #FFBD59;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

/* efecto de hover */
input[type="submit"]:hover {
  background-color: #88A843;
  color: #f1f1f1;
}

.button-container {
  display: flex;
  justify-content: center;
}

.error{
  width: 200px;
  text-align: center;
  color: red;
  font-weight: bold;
  margin: auto;
  padding: 15px;
  font-family: "Quicksand", sans-serif;
}

/* Media Queries para responsivo */

/* Celular (menor a 768px) */
@media (max-width: 767px) {
  .columna-25, .columna-75 {
      flex: 100%;
      padding: 0;
  }
  .columna-75 {
      margin-top: 10px;
  }
}

/* Tablet (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
      width: 100%;
  }
  .columna-25, .columna-75 {
      flex: 100%;
      padding: 0;
  }
  .columna-25 {
      padding-right: 5px;
  }
  .columna-75 {
      padding-left: 5px;
  }
}

/* PC de escritorio (1025px a 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
  .container {
      width: 100%;
  }
  .columna-25, .columna-75 {
      flex: 25%;
  }
  .columna-75 {
      flex: 75%;
  }
}

/* PC de escritorio grande (mayor a 1440px) */
@media (min-width: 1441px) {
  .container {
      width: 100%;
  }
}