<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
</head>
<body>
    <!-- Encabezado -->
    <header class="header">
        <div>
            <h1>Eventos</h1>
        </div>
        <!-- Hipervinculos para el menu -->
        <ul>
            <li><a href="./templates/ultimas_noticias.html">Ultimas Noticias</a></li>
            <li><a href="./templates/register.html">Registrate</a></li>
            <li><a href="./index.html"><span>Iniciar Sesión</span></a></li>
        </ul>
    </header>
    <!-- Contenido -->
    <table>
        <tr>
            <td>
                <h2>Intemperies, transformar para liberar</h2>
                <img src="../static/img/interperies7.png" alt="Titeres de Interperies">
                <h3>Entrada General: $3.000</h3>
                <h4>• Domingo 07 de Abril a las 20:30 - Casa de la Cultura</h4>
                <p>Intemperies, transformar para liberar, es una obra de teatro de títeres y objetos para jóvenes y adultos, donde 4 actrices con máscaras arquetípicas, en un ritual, van transformando diferentes intemperies sociales que nos atraviesan.</p>
                <p>Obra de creación colectiva con la dirección del titiritero, dramaturgo y escritor Andrés López.</p>
            
            </td>
            <td>
                <h2>“Ya No Se Puede decir Todo“ Elena Sánchez. Stand Up</h2>
                <img src="../static/img/stand_up3.png" alt="Stand up. Elena en el escenario">
                <h3>Entrada a la gorra</h3>
                <h4>• Sábado 20 de Abril a las 21:00 - Casa de la Cultura</h4>
                <p>"Ya No Se Puede Decir Todo". En un mundo donde la sensibilidad y las normas socialesestán en constante evolución, Elena ofrece una perspectiva única y humorística sobre cómo nos relacionamos con el lenguaje,  las expectativas y nuestras propias creencias. Este espectáculo es una invitación a reírnos de nuestras contradicciones y a cuestionar nuestras suposiciones, todo ello presentado con el estilo distintivo y la energía contagiosa de Elena Sánchez.</p>
            </td>
            <td>
                <h2>“Sí pero No“ Stand up de Alejandro Fernández</h2>
                <img src="../static/img/si_pero_no.png" alt=" Stand up de Alejandro Fernández">
                <h3>Entrada General: $5.000</h3>
                <h4>• Domingo 28 de Abril a las 21:00 - Casa de la Cultura</h4>
                <p> En 'Sí pero No', Alejandro nos lleva en un viaje de risas y reflexión mientras explora las contradicciones y paradojas de la vida cotidiana. Desde las situaciones más absurdas hasta las observaciones más agudas sobre la naturaleza humana, Alejandro nos desafía a cuestionar nuestras suposiciones y a reírnos de nuestras propias contradicciones..</p>
            </td>
        </tr>
        <tr>
            <td>
                <h2>RAÍCES Documental de Ana García</h2>
                <img src="../static/img/raices1.png" alt="portada raices">
                <h3>Entrada libre y gratuita</h3>
                <h4>• Sábado 15 de mayo a las 21:00hs - El Laberinto Centro Cultural</h4>
                <p>La proyección, con entrada libre y gratuita, contará con la presencia de la directora.
                    Luego de recorrer durante 3 años los pueblos originarios de América Latina, Ana plasmó en un documental su experiencia. Atravesando paisajes majestuosos y comunidades vibrantes, la cineasta se sumergió en las tradiciones ancestrales, explorando la cosmovisión y los saberes que aún palpitan en el corazón de la cultura indígena.
                    "RAÍCES" es una invitación a un viaje introspectivo, un canto a la diversidad y un homenaje a la memoria viva de nuestros ancestros.</p>
            </td>
            <td>
                <h2>TRÍO ARMONÍA: Un viaje musical por la Argentina</h2>
                <img src="../static/img/trio3.png" alt="Caricatura trio armonia">
                <h3>Entrada General: $5.000</h3>
                <h4>• Sábado 20 de mayo a las 21:00hs - El Laberinto Centro Cultural</h4>
                <p>Trío Armonía presenta un repertorio que recorre diferentes estilos de la música argentina, desde el tango y el folklore hasta la música popular contemporánea. Sus integrantes, jóvenes guitarristas de reconocida trayectoria, se unen para crear un sonido único que combina tradición e innovación.</p>
                <p>Integrantes:</p>
                <ul>
                    <li>Mariana Pérez (guitarra)</li>
                    <li>Santiago López (guitarra)</li>
                    <li>Nicolás Fernández (guitarra)</li>
                </ul>
                <p>Programa:</p>
                <ul>
                    <li>Obras de Astor Piazzolla, Atahualpa Yupanqui, Gustavo “Cuchi” Leguizamón y composiciones propias.</li>
                </ul>
                
            </td>
            <td>
                <h2>ENCUENTRO DE MÚSICAS: Voces del Sur. Un viaje musical que une las culturas de Argentina y Portugal.</h2>
                <img src="../static/img/musicas1.png" alt="Descripción de la imagen">
                <h3>Entrada a la gorra</h3>
                <h4>• Sábado 27 de mayo a las 21:30hs - El Laberinto Centro Cultural</h4>
                <p>Dos artistas de diferentes latitudes se unen para compartir su música y crear un espacio de encuentro cultural.
                    Camila Fernández, cantante y guitarrista argentina, presenta un repertorio de canciones folclóricas y contemporáneas de su país. Pedro Oliveira, músico portugués, trae consigo la riqueza musical de su tierra natal, con fados y canciones tradicionales..
                </p>
                <p>Integrantes:</p>
                <ul>
                    <li>Camila Fernández (voz y guitarra)</li>
                    <li>Pedro Oliveira (voz y guitarra)</li>
                </ul>
            </td>
        </tr>
    </table>
    <main>
    </main>
    <!-- pie -->
    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
</body>
</html>