<!DOCTYPE html>
<htm lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clendario Cultural: Últimas Noticias</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Caveat:wght@400;700&family=Young+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Caveat:wght@400;700&family=Quicksand:wght@300..700&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>
    <body>
    <header id="header">
        <div id="menu">
            <div id="logo" class="logo">
                <img src="../static/img/logo_cultura_2.png" id="" class="" alt="Logo" class="logo-img">
            </div>
            <div id="search-navigation" class="search-navigation">
                <div class="search-navigation-inner">
                    <nav>
                        <ul class="menu">
                            <li><a href="../index.html" target="_self">Inicio</a></li>
                            <li><a href="../templates/news.html" target="_self">Últimas Noticias</a></li>
                            <li><a href="../templates/eventos.html" target="_self">Eventos Culturales</a></li>
                            <li><a href="../templates/contactanos.html" target="_self">Contactanos</a></li>
                            <li id="search-header" class="search-header">
                                <div class="search-container">
                                    <input type="text" id="searchInput" placeholder="Buscar...">
                                    <button onclick="searchFiles()" class="search-button">
                                        <img src="../static/img/lupa.ico" alt="Buscar" class="search-icon">
                                    </button>
                                </div>
                                <div id="searchResults"></div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="bar">
            <img src="../static/img/barra_down.png" alt="barra">
        </div>
    </header>
    <main>
        <div class="tarjeta">
            <div class="card">
                <a href="./noticia_1.html">
                    <div class="content">
                        <h3>Cine Club a beneficio de la Asociación Italiana</h3>
                    </div>
                    <img src="../static/img/noticias_1.png" alt="foto de pareja en blanco y negro que representa a los protagonistas de la película">
                </a>
            </div>
            <div class="card">
                <a href="./noticia_2.html">
                    <img src="../static/img/noticias_2.png" alt="importante" >
                </a>
            </div>
            <div class="card">
                <a href="./noticia_3.html">
                    <div class="content">
                        <h2>Otras Noticias</h2>
                    </div>
                </a>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="bar">
            <img src="../static/img/barr_up.png" alt="barra">
        </div>
        <div class="menu-footer">
            <nav>
                <ul class="menu-footer">
                    <li><a href="./quienes_somos.html">Quienes somos</a></li>
                    <li><a href="./preguntas_frecuentes.html">Preguntas frecuentes</a></li>
                    <li><a href="./contactanos.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>