<!DOCTYPE html>
<htm lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario_Cultural:Noticias</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Caveat:wght@400;700&family=Young+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Caveat:wght@400;700&family=Quicksand:wght@300..700&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>
<body>
    <header id="header">
        <div id="logo" class="logo">
            <img src="../static/img/logo_cultura_2.png" alt="Logo" class="logo-img">
        </div>
        <div id="menu">
            <div id="search-navigation" class="search-navigation">
                <div class="search-navigation-inner">
                    <nav>
                        <ul class="menu">
                            <li><a href="../index.html">Inicio</a></li>
                            <li><a href="../templates/news.html">Últimas Noticias</a></li>
                            <li><a href="../templates/eventos.html">Eventos Culturales</a></li>
                            <li><a href="../templates/contactanos.html">Contáctanos</a></li>
                            <li id="search-header" class="search-header">
                                <div class="search-container">
                                    <input type="text" id="searchInput" placeholder="Buscar...">
                                    <button onclick="searchFiles()" class="search-button">
                                        <img src="../static/img/lupa.ico" alt="Buscar" class="search-icon">
                                    </button>
                                </div>
                                <div id="searchResults"></div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="bar">
            <img src="../static/img/barra_down.png" alt="barra">
        </div>
        <div class="title">
            <h1>Últimas Noticias</h1>
        </div>
        <div class="bar">
            <img src="../static/img/barr_up.png" alt="barra">
        </div>
    </header>
    <main>
        <div class="note_title">
            <ul>
                <li>
                    <h2>Importante: Todos los artistas y trabajadores culturales deben registrarse en el Registro de Trabajadores de la Cultura</h2>
                </li>
            </ul>
        </div>
        <div>
            <a href="#"><i class="fa fa-instagram iconRedes"></i></a>
            <a href="#"><i class="fa fa-facebook-square iconRedes"></i></a>
            <a href="mailto:correo@dominio.com?subject=Asunto del correo&body=Cuerpo del correo"><i class="fa fa-envelope iconRedes"></i></a>
        </div>
        <div class="detail">
            <div class="card3">
                <img src="../static/img/noticias_2.png"  class="img" alt="importante">
            </div>
            <div class="note_tex2">
                <div>
                    <p>En cumplimiento con la Ordenanza Nº 13461, es fundamental que todas las personas contratadas para actividades artísticas y culturales, así como aquellas que brinden servicios certificados por decreto, se encuentren debidamente registradas en el Registro de Trabajadores de la Cultura.</p>
                    <p>El artículo 2 de esta Ordenanza establece claramente esta obligación.</p>
                    <p>La importancia de este registro radica en varios aspectos:</p>
                </div>
                <div class="list">
                    <ul>
                        <li>Unificación y Actualización de Información: Centraliza y mantiene actualizada la información en la Secretaría de Cultura.</li>
                        <li>Relevancia en Convocatorias: Será considerado en futuras convocatorias para eventos, programas, entre otros, realizados por la Secretaría.</li>
                        <li>Difusión de Convocatorias: Facilita la difusión de convocatorias de organismos nacionales y provinciales dirigidas a sectores específicos.</li>
                        <li>Requisito para Contratación: Será un requisito obligatorio para ser contratado por la Municipalidad o certificar servicios realizados.</li>
                    </ul>
                </div>
                <div class="note_tex2">
                    <p>Además, este registro funciona como un censo que nos permitirá comprender la composición del ecosistema cultural de nuestra ciudad.La inscripción ahora se realiza de forma online, completando el formulario correspondiente a la actividad que realiza cada persona. Todos los involucrados en actividades culturales se adhieran a este proceso para fortalecer y desarrollar aún más nuestro entorno cultural.</p><br>
                    <p>Para más información y para completar la inscripción, visite el sitio web del Registro de Trabajadores de la Cultura.</p><br>
                </div>
            </div>
        </div>
        <div class="agradecimiento">
            <p>¡Gracias por su colaboración en la construcción de una comunidad cultural más sólida y dinámica!</p><br>
        </div>
    </main>
    <footer id="footer">
        <div class="bar">
            <img src="../static/img/barr_up.png" alt="barra">
        </div>
        <div class="menu-footer">
            <nav>
                <ul class="menu-footer">
                    <li><a href="./quienes_somos.html">Quienes somos</a></li>
                    <li><a href="./preguntas_frecuentes.html">Preguntas frecuentes</a></li>
                    <li><a href="./contactanos.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>