<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimas Noticias</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Caveat:wght@400;700&family=Young+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Caveat:wght@400;700&family=Quicksand:wght@300..700&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
    <body>
    <header id="header">
        <div id="logo" class="logo">
            <img src="../static/img/logo_cultura_2.png" id="" alt="Logo" class="logo-img">
        </div>
        <div id="menu">
            <div id="search-navigation" class="search-navigation">
                <div class="search-navigation-inner">
                    <nav>
                        <ul class="menu">
                            <li><a href="../index.html" target="_blank">Inicio</a></li>
                            <li><a href="../templates/news.html" target="_blank">Ultimas Noticias</a></li>
                            <li><a href="../templates/eventos.html" target="_blank">Eventos Culturales</a></li>                            
                            <li><a href="../templates/contactanos.html" target="_blank">Contactanos</a></li>
                            <li id="search-header" class="search-header">
                                <div class="search-container">
                                    <input type="text" id="searchInput" placeholder="Buscar...">
                                    <button onclick="searchFiles()" class="search-button">
                                        <img src="../static/img/lupa.ico" alt="Buscar" class="search-icon">
                                    </button>
                                </div>
                                <div id="searchResults"></div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="bar">
            <img src="../static/img/barra_down.png" alt="barra">
        </div>
        <div class="title">
            <h1>Últimas Noticias</h1>
        </div>
        <div class="bar">
            <img src="../static/img/barr_up.png" alt="barra">
        </div>
    </header>
    <main>
        <div class="note_title">
            <ul>
                <li>
                    <h2>Se realiza el registro y reacondicionamiento del Patrimonio Artístico Municipal</h2>
                </li>
            </ul>
        </div>
        <div class="social-media">
            <div class="share-buttons">
                <a href="https://www.instagram.com/" id="share-instagram" class="share-button" target="_blank">
                    <img src="../static/img/instagram.ico" alt="Instagram" class="instagram-icon"></a>
                <a href="https://www.facebook.com/" id="share-facebook" class="share-button" target="_blank">
                    <img src="../static/img/facebook.ico" alt="Facebook" class="facebook-icon"></a>
                <a href="https://web.whatsapp.com/" id="share-whatsapp" class="share-button" target="_blank">
                    <img src="../static/img/whatsapp.png" alt="WhatsApp" class="whatsapp-icon"></a>
                <a href="mailto:?subject=Título del correo&body=Contenido del correo" id="share-email" class="share-button" target="_blank">
                    <img src="../static/img/mail.png" alt="mail" class="email-icon">
            </div>
        </div>
        <div class="detail">
            <div class="card3">
                <img class="imgN3" src="../static/img/2.png" alt="importante">
            </div>
            <div class="note_tex2">
                <p>La Secretaría de Cultura inició el registro e identificación de las obras de arte que forman parte del patrimonio municipal. Son obras de diferentes artistas, realizadas desde la década del 40 hasta el presente. Algunas están exhibidas en dependencias municipales, mientras que otras permanecen a resguardo.</p><br>
                <p>El trabajo se realiza en forma conjunta entre el Departamento de Patrimonio Histórico y la Sala Lidaura Chapitel. Si bien este patrimonio ya posee un inventario, faltaban fichas catalográficas y otras estaban incompletas.</p><br>
                <p>Registrar y reacondicionar el patrimonio artístico permite contar con un diagnóstico del estado de conservación de las obras y también servirá para difundirlas, ya que se trata de un acervo histórico que pertenece a toda la comunidad.</p><br>
            </div>
        </div>
        <div class="navegacion">
            <div class="anterior">
                <a href="./noticia_2.html" target="_blank">Anterior</a>
            </div>
            <div class="siguiente">
                <a href="./noticia_1.html" target="_blank">Siguiente</a>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="bar">
            <img src="../static/img/barr_up.png" alt="barra">
        </div>
        <div class="menu-footer">
            <nav>
                <ul class="menu-footer">
                    <li><a href="./quienes_somos.html">Quienes somos</a></li>
                    <li><a href="./preguntas_frecuentes.html">Preguntas frecuentes</a></li>
                    <li><a href="./contactanos.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>
