<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario_Cultural:Quines_Somos</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Caveat:wght@400;700&family=Young+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Caveat:wght@400;700&family=Quicksand:wght@300..700&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>
<body>
    <header id="header">
        <div id="logo" class="logo">
            <img src="../static/img/logo_cultura_2.png" alt="Logo" class="logo-img">
        </div>
        <div id="menu">
            <div id="search-navigation" class="search-navigation">
                <div class="search-navigation-inner">
                    <nav>
                        <ul class="menu">
                            <li><a href="../index.html" target="_self">Inicio</a></li>
                            <li><a href="../templates/news.html" target="_self">Últimas Noticias</a></li>
                            <li><a href="../templates/eventos.html" target="_self">Eventos Culturales</a></li>
                            <li><a href="../templates/contactanos.html" target="_self">Contáctanos</a></li>
                            <li id="search-header" class="search-header">
                                <div class="search-container">
                                    <input type="text" id="searchInput" placeholder="Buscar...">
                                    <button onclick="searchFiles()" class="search-button">
                                        <img src="../static/img/lupa.ico" alt="Buscar" class="search-icon">
                                    </button>
                                </div>
                                <div id="searchResults"></div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="bar">
            <img src="../static/img/barra_down.png" alt="barra">
        </div>
        <div class="title">
            <h1>Quienes Somos</h1>
        </div>
        <div class="bar">
            <img src="../static/img/barr_up.png" alt="barra">
        </div>
    </header>
    <body>
        <main class="about-us">
            <div class="about-image">
                <img src="../static/img/teatro.jpg" alt="Imagen sobre nosotros">
            </div>
            <div class="about-text">
            <h2>Sobre Nosotros</h2>
            <p>
                Bienvenidos al Espacio Cultural, un vibrante centro dedicado a la promoción y celebración del arte, la cultura y la creatividad. Situado en el corazón de San Martin sw los Andes, somos un punto de encuentro para artistas emergentes y establecidos, así como para entusiastas culturales de todas las edades.
            </p>
            <p>
                En el Espacio Cultural, nuestra misión es fomentar la diversidad cultural y la expresión artística en todas sus formas. Desde exposiciones de arte contemporáneo hasta recitales de poesía, pasando por proyecciones de cine independiente y talleres educativos, ofrecemos una amplia gama de eventos y actividades que buscan inspirar, educar y entretener a nuestra comunidad.
            </p>
            <p>
                Nuestro equipo está formado por apasionados profesionales del mundo del arte y la cultura, comprometidos con la creación de un espacio inclusivo y dinámico donde todos puedan sentirse bienvenidos y encontrar inspiración. Valoramos la colaboración, la innovación y el intercambio de ideas, y nos esforzamos por crear un ambiente en el que la creatividad florezca y se celebre.
            </p>
            <p>
                Ya seas un artista en ciernes buscando exhibir tu trabajo, un aficionado al arte en busca de nuevas experiencias culturales o simplemente alguien curioso por explorar el mundo del arte y la creatividad, te invitamos a unirte a nosotros en el Espacio Cultural. Juntos, podemos crear momentos significativos, inspiradores y memorables que enriquezcan nuestras vidas y nuestra comunidad.
            </p>
            <h3>¡Gracias por  confiar en nosotros!  ¡Esperamos verte pronto!</h3>
        </div>
    </main>
    <footer id="footer">
        <div class="bar">
            <img src="../static/img/barr_up.png" alt="barra">
        </div>
        <div class="menu-footer">
            <nav>
                <ul class="menu-footer">
                    <li><a href="./quienes_somos.html">Quienes somos</a></li>
                    <li><a href="./preguntas_frecuentes.html">Preguntas frecuentes</a></li>
                    <li><a href="./contactanos.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>
