<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Contactos</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Caveat:wght@400;700&family=Young+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Caveat:wght@400;700&family=Quicksand:wght@300..700&family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header id="header">
        <div id="menu">
            <div id="logo" class="logo">
                <a href="../index.html" target="_self"> 
                    <img src="../static/img/logo_cultura_2.png" id="logo_cultura" alt="Logo" class="logo-img">
                </a>
            </div>
            <div id="search-navigation" class="search-navigation">
                <div class="search-navigation-inner">
                    <nav aria-label="ok">
                        <ul class="menu">
                            <li><a href="../index.html" target="_self" class="offline">Salir</a></li>                    
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="bar">
            <img src="../static/img/barra_down.png" alt="barra">
        </div>
        <div class="listContac">
            <h1>Contactos</h1>
        </div>
    </header>
    <main id="main">
        <table id="contactosTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Género</th>
                    <th>País</th>
                    <th>Comentario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="buttons-container">
            <button id="btnAgregar" class="btnList">Agregar</button>
            <button id="btnModificar" class="btnList">Modificar</button>
            <button id="btnBorrar" class="btnList">Borrar</button>
        </div>
        <div class="bar">
            <img src="../static/img/barr_up.png" alt="barra">
        </div>
            <div class="ranking-totales-container">
            <div class="ranking">
                <h1>Ranking de Países</h1>
                <ul id="rankingList">
                    <!-- Aquí debería de llenarse con los datos dinámicos del JavaScript -->
                </ul>
            </div>
            <div class="totales">
                <table>
                    <tr>
                        <th>Total Consultas</th>
                        <th>Total Masculino</th>
                        <th>Total Femenino</th>
                        <th>Total Otro</th>
                    </tr>
                    <tr id="totalsRow">
                        <!-- Aquí debería de llenarse con los datos dinámicos del JavaScript -->
                    </tr>
                </table>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="bar">
            <img src="../static/img/barr_up.png" alt="barra">
        </div>
        <div class="menu-footer">
            <nav aria-label="ok">
                <ul class="menu-footer">
                    <li><a href="./quienes_somos.html">Quiénes somos</a></li>
                    <li><a href="./preguntas_frecuentes.html">Preguntas frecuentes</a></li>
                    <li><a href="./contactanos.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </footer>
    <script src="../static/js/contactos.js"></script>
</body>
</html>
