:root {
  --bg-color:#ffffff;
  --primary-color:#030303;
  --secondary-color:#ff914d;
  --third-color:#aaaaaa;
  --fourth-color:#C3B445;
  --fifth-color:#333;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  }
  
body{
  background-color: var(--bg-color);
  margin-left: 2.60vw;
  margin-right: 2.60vw;
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  }

header {
  width: 100%;
}

footer {
  width: 100%;
}

.hide {
  display: none;
}

.logo img {
  display: block;
  margin: 0 auto;
  width: 15%;
  height: auto;
}  
.menu {
  text-align: center;
  display: flex;
  flex-direction:row;
  align-items:center;
  font-size: 1.3vw;
  justify-content: space-between;
  padding:  0.52vw;
  text-decoration: none;
  }
ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  }
ul.menu li {
  display: inline-block;
  }
ul.menu li a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  padding: 0.52vw 1.04vw;
  transition: color 0.3s;
  }
ul.menu li a:hover {
  color: var(--secondary-color);
  }
.menu-footer {
  text-align: right;
  font-size: 1vw;
  padding: 0.52vw;
  font-size: 1vw;
  justify-content: space-between;
  padding:  0.52vw;
  text-decoration: none;
  }
ul.menu-footer {
  list-style: none;
  margin: 0;
  padding: 0;
  }
ul.menu-footer li {
  display: inline-block;
  }
ul.menu-footer li a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  padding: 0.52vw 1.04vw;
  transition: color 0.3s;
  }
ul.menu-footer li a:hover {
  color: var(--secondary-color);
  }

/* Contacto - Formulario */
.container {
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.row {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

/* Columna flotante para etiquetas: ancho del 25% */
.columna-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  box-sizing: border-box;
}

/* Columna flotante para entradas: ancho del 75%  */
.columna-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  box-sizing: border-box;
}


/* Limpiar despues de las columnas */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*  elementos de entrada de texto, select y areas de texto */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-family: "Quicksand", sans-serif;
}

/* etiqueta*/
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* el boton de envio */
input[type=submit] {
  background-color: #FFBD59;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

/* efecto de hover */
input[type="submit"]:hover {
  background-color: #88A843;
  color: #f1f1f1;
}

.button-container {
  display: flex;
  justify-content: center;
}

.error{
  width: 200px;
  text-align: center;
  color: red;
  font-weight: bold;
  margin: auto;
  padding: 15px;
  font-family: "Quicksand", sans-serif;
}

/*lista de contactos*/

/*botón salir*/
.offline {
  margin-left: 70rem;
}

/*Tabla de contactos*/
#contactosTable {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: var(--fourth-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contactosTable th, #contactosTable td {
  border: 1px solid var(--secondary-color);
  padding: 8px;
  text-align: left;
}

#contactosTable th {
  background-color: var(--fourth-color);
}

/* Colores diferentes para filas (hay que agregar datos para ver si funciona)*/
#contactosTable tbody tr:nth-child(even) {
  background-color: var(--secondary-color);
}

#contactosTable tbody tr:nth-child(odd) {
  background-color: var(--fourth-color);
}

/* contenedor ranking y totales*/
.table-container tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-container tbody tr:nth-child(odd) {
  background-color: #e6e6e6;
}

/* Ranking*/
.ranking-totales-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* ranking y totales */
.ranking, .totales {
  width: calc(50% - 10px); /* 50% del ancho total - 10px de separación */
  background-color: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ranking h1, .totales h1 {
  text-align: center;
  margin-top: 0;
  padding: 10px;
}

.ranking ul, .totales table {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ranking li, .totales tr {
  padding: 8px 20px;
  border-bottom: 1px solid var(--bg-color);
}

.ranking li:last-child, .totales tr:last-child {
  border-bottom: none;
}
/* botones */
.buttons-container { 
  margin-left: 55rem;
}
.btnList {
  background-color: var(--fourth-color);
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnLis:hover {
  background-color: var(--secondary-color);
}



/* Media Queries para responsivo */

/* Celular (menor a 768px) */
@media (max-width: 767px) {
  .columna-25, .columna-75 {
      flex: 100%;
      padding: 0;
  }
  .columna-75 {
      margin-top: 10px;
  }
}

/* Tablet (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
      width: 100%;
  }
  .columna-25, .columna-75 {
      flex: 100%;
      padding: 0;
  }
  .columna-25 {
      padding-right: 5px;
  }
  .columna-75 {
      padding-left: 5px;
  }
}

/* PC de escritorio (1025px a 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
  .container {
      width: 100%;
  }
  .columna-25, .columna-75 {
      flex: 25%;
  }
  .columna-75 {
      flex: 75%;
  }
}

/* PC de escritorio grande (mayor a 1440px) */
@media (min-width: 1441px) {
  .container {
      width: 100%;
  }
}
